.App {
  text-align: center;
  background-color: rgb(214, 211, 211);
}

h1 {
  margin:0%;
  padding: 20px;
  border-top: solid black;
  border-bottom: solid black;
  color: solid black
}

#review-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  border: solid black;
  padding-left: 10%;
  font-size: 60%;
}

#review-images {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  border: solid black;
  border-radius: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#review-list-ol{
  font-size: 60%;
}

.Navbar {
  padding:1%;
  margin:0%;
  border-bottom: solid black;
  border-top: 0%;
}

.ul-nav {
  margin:0px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.li-nav{
  background-color: rgb(214, 211, 211);
  text-decoration: none;
  list-style: none;
}

.li-nav:hover{
  background-color: #777;
  text-decoration: none;
  list-style: none;
}
