.App {
  text-align: center;
  background-color: rgb(214, 211, 211);
}

h1 {
  padding: 10px;
  border: solid black;
  color: solid black
}

#review-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  border: solid black;
  padding-left: 10%;
  font-size: 60%;
}

#review-images {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  border: solid black;
  border-radius: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#review-list-ol{
  font-size: 60%;
}
